In [33]:
import pandas as pd
import numpy as np

In [34]:
df_bigtable = pd.read_csv('data/ailes_avion.csv', usecols=['Name', 'Family', 'Thickness(%)', 'x-Location_of_Max_Thk(%)', 'Camber(%)'])
df_index = pd.read_csv('data/index_matchmaking.csv', usecols=['Name_big', 'Name_dat'])
df_coord = pd.read_csv('data/df_coordinates.csv')

In [35]:
df_bigtable.columns

Index(['Name', 'Family', 'Thickness(%)', 'x-Location_of_Max_Thk(%)',
       'Camber(%)'],
      dtype='object')

In [36]:
df_index.rename(columns={"Name_big": "Name"}, inplace=True)
df_index.columns

Index(['Name', 'Name_dat'], dtype='object')

In [37]:
df_bigtable_indexed = pd.merge(df_bigtable, df_index, on="Name", how="inner")

In [38]:
print(df_bigtable.shape)
print(df_bigtable_indexed.shape)
print(df_index.shape)
print(df_coord.shape)

(6324, 5)
(6307, 6)
(6303, 2)
(6303, 3)

In [39]:
df_bigtable_indexed.columns

Index(['Name', 'Family', 'Thickness(%)', 'x-Location_of_Max_Thk(%)',
       'Camber(%)', 'Name_dat'],
      dtype='object')

In [40]:
df_coord.columns

Index(['name', 'new_x_coord', 'new_y_coord'], dtype='object')

In [41]:
df_coord.rename(columns={"name": "Name_dat"}, inplace=True)
df_big_coord = pd.merge(df_bigtable_indexed, df_coord, on="Name_dat", how="inner")

In [42]:
df_big_coord

,Name,Family,Thickness(%),x-Location_of_Max_Thk(%),Camber(%),Name_dat,new_x_coord,new_y_coord
0,63A108 MOD C,NASA,7.7,30.1,0.6,a63a108c.DAT,[0. 0.02040816 0.04081633 0.06122449 0...,[ 0. -0.01572449 -0.01982653 -0.022561...
1,A18,Uncategorized,7.3,30.1,3.2,a18.DAT,[0. 0.02040816 0.04081633 0.06122449 0...,[ nan -0.01334918 -0.01661122 -0.017834...
2,A18 (SMOOTHED),Uncategorized,7.3,26.5,3.8,a18sm.DAT,[0. 0.02040816 0.04081633 0.06122449 0...,[ nan -0.01281714 -0.01568143 -0.016827...
3,A6014-S,Ayers,6.0,30.1,1.4,A6014-S.DAT,[0. 0.02040816 0.04081633 0.06122449 0...,[-7.67755102e-04 -9.59693878e-03 -1.26679592e-...
4,A6016-S,Ayers,6.0,30.1,1.6,A6016-S.DAT,[0. 0.02040816 0.04081633 0.06122449 0...,[ 0.00000000e+00 -8.77632653e-03 -1.11391837e-...
...,...,...,...,...,...,...,...,...
6302,ZONE-25,Taylor,5.0,17.0,1.2,Zone-25.DAT,[0. 0.02040816 0.04081633 0.06122449 0...,[ nan -0.00918419 -0.01151417 -0.012845...
6303,ZONE-36,Taylor,5.1,18.4,1.4,Zone-36.DAT,[0. 0.02040816 0.04081633 0.06122449 0...,[ nan -9.25439571e-03 -1.13429457e-...
6304,ZONE-40,Taylor,5.3,18.4,1.4,Zone-40.DAT,[0. 0.02040816 0.04081633 0.06122449 0...,[ nan -0.00929562 -0.01167274 -0.012861...
6305,ZONE-46,Taylor,5.5,19.9,1.5,Zone-46.DAT,[0. 0.02040816 0.04081633 0.06122449 0...,[ nan -0.00944521 -0.01181254 -0.012996...
6306,ZONE-52,Taylor,6.1,21.4,1.6,Zone-52.DAT,[0. 0.02040816 0.04081633 0.06122449 0...,[ 0. -0.01021112 -0.01284625 -0.014493...